 #container
    {
      width: 1200px;
      margin-left: auto;
      margin-right: auto;
    }
    #logo
    {

      border-style: solid;
      background-color: white;
      text-align: center;
      padding: 30px;


    }
    #nav
    {

      float: left;
      width: 260px;
      hight: 660px;
      background-color: lightblue;
      min-height: 600px;
      color: white;
      padding: 20px;
    }

    #content
    {

      float: left;
      width: 660px;
      padding: 20px;
      text-align: center;

}

  
